synctexts.com {
    reverse_proxy app:4321

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}

www.synctexts.com {
    redir https://synctexts.com{uri} permanent
}
